{% include "header.html" %}
{%if service_link != 'Non'%}
{% for n in service_link%}
    <div class="example-home">
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <model-viewer src="{{n.service_link}}"
        ios-src="https://modelviewer.dev/shared-assets/models/Astronaut.usdz"
        alt="A 3D model of an astronaut"
        ar
        
        environment-image="/static/images/white.png"
        poster="/static/images/loading.gif"
        auto-rotate
        camera-controls
        class="example-model"></model-viewer>
    </div>
{%endfor%}
{%else%}
<div class="container text-center padding">
    <div class="row">
      <div class="col">
        <img src="/static/images/error.gif" class="w-100 vh-50">
      </div>
      <div class="col error-text">
        <span>REASON</span>
        <ul class>
            <li>The 3D model still not uploaded
            <li>Entered the wrong code
        </ul>
      </div>
    </div>
</div>
{%endif%}
{% include "footer.html" %}