{% include "header.html" %}
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <img src="/static/images/background_image.png" class="image-size">
            <div class="container px-4 text-center ">
                <h1 class="fw-bolder">Transform Dreams into Reality:Your Home In 3D</h1>
                <form class="container px-4 text-center form-size" method="get">
                    <p class="lead my-2">Enter The Code</p>
                    <input name="name" type="text" class="btn btn-lg btn-light m-2 w-50" required>
                    <button class="btn btn-lg btn-light m-2" type="submit">START</button>
                </form>
            </div>
        </header>
{% include "footer.html" %}



